.content {
    background: url(../Img/png/content-bag.png);
    background-repeat: no-repeat;
    &__box {
        display: flex;
        justify-content: space-between;
        margin-left: 40px;
    }
    &__img {
        padding-top: 140px;
    }
    &__h3 {
        // margin-top: 10px;
        font-family: 'Fraunces', serif;
        font-size: 24px;
        font-weight: 900;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: center;
    }
    &__p {
        font-family: 'Barlow', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: center;
        color: #333d4b;
        width: 255px;
        height: 78px;
    }
}
