.hero {
    height: 600px;
    margin-top: 30px;
    background: url(../Img/png/Group6.png) center;
    padding: 116px 85px;
    color: #fff;

    &__content {
        width: 493px;
    }

    &__title {
        font-family: "Fraunces 9pt";
        font-size: 72px;
        font-weight: 900;
        line-height: 72px;
        letter-spacing: 0px;
    }

    &__text {
        margin-top: 32px;
        font-family: "Barlow";
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0px;
        margin-bottom: 56px;
    }
    &__btn {
        margin-top: 56px;
        width: 217px;
        height: 56px;
        top: 541px;
        left: 165px;
        background: #0e8784;
        font-family: Fraunces 9pt;
        font-size: 18px;
        font-weight: 900;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: center;
        color: #fefcf7;
        border: none;
        border-radius: 6px;
    }
    &__btn:hover {
        background: #66D2CF;

    }
    &__btn:active {
        transition: all;
    }
}
.hero--about {
    height: 450px;
    background: url(../Img/png/about.png) center;

    &__title--about {
        font-family: "Fraunces 9pt";
        font-size: 40px;
        font-weight: 900;
        line-height: 48px;
        letter-spacing: 0px;
        text-align: left;
    }
}
.hero--subscribe {
    height: 450px;
    background: url(../Img/png/subscribe.png) center;

    &__text--subscribe {
        padding-right: 100px;
        font-family: "Barlow";
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: left;
    }
}
