.navbar {
    &__complate {
        background: #282f38;
        border-radius: 8px;
        padding: 70px;
        margin-top: 40px;
        color: #ffffff90;
    }
    &__title {
        margin-top: 300px;
        font-family: 'Fraunces', serif;
        font-size: 24px;
        font-weight: 900;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        color: #83888f;
    }
    &__hr {
        margin-top: 60px;
        background: url(../Img/png/Path-2.png) 0 center;
        background-repeat: no-repeat;
        // gap: 100px;
    }
    &__img {
        padding-right: 345px;
    }
    &__box {
        display: flex;
        margin-top: 40px;
    }
    &__blok {
        width: 285px;
        top: 210px;
        margin-right: 80px;
    }
    &__number {
        font-family: 'Fraunces', serif;
        font-size: 72px;
        font-weight: 900;
        line-height: 72px;
        letter-spacing: 0px;
        text-align: left;
        color: #fdd6ba;
    }
    &__name {
        font-family: 'Fraunces', serif;
        font-size: 32px;
        font-weight: 900;
        line-height: 36px;
        letter-spacing: 0px;
        text-align: left;
        width: 155px;
        height: 73px;
        top: 110px;
        color: #333d4b;
        margin-top: 30px;
    }
    &__text {
        font-family: 'Barlow', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: left;
        margin-top: 30px;
    }
    
    &__name1 {
        color: #fefcf7;
    }
}
